.cart {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: $mantine-breakpoint-sm) {
  .cart {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}
