/* Existing CSS for hover effects */
.productName:hover {
  color: var(--mantine-primary-color-filled);
  cursor: pointer;
}

/* Base styling for the card */

/* Styling for the product image section */
.productImage {
  width: 100%; /* Image takes full width of the card */
  height: 200px; /* Fixed height for consistency */
  object-fit: contain; /* Ensure images cover the area well without distortion */
  padding: 10px;
}

.productImage:hover {
  cursor: pointer;
}

/* Base style MOBILE FIRST */
.card {
  height: 100%; /* Ensure all cards have the same height */
  width: calc(50% - 10px);
}

/* Tablet */
@media (min-width: $mantine-breakpoint-sm) {
  .card {
    width: calc(
      25% - 20px
    ); /* Adjust width for 2-column layout, considering some margin */
  }
}

/* Desktop */
@media (min-width: $mantine-breakpoint-md) {
  .card {
    width: calc(
      20% - 20px
    ); /* Adjust width for 3-column layout, considering some margin */
  }
}

/* Huge desktop */
@media (min-width: $mantine-breakpoint-lg) {
  .card {
    width: calc(
      20% - 20px
    ); /* Adjust width for 4-column layout, considering some margin */
  }
}
