/* Existing CSS for hover effects */
.productName:hover {
  color: var(--mantine-primary-color-filled);
  cursor: pointer;
}

/* Base styling for the card */

/* Styling for the product image section */
.productImage {
  width: 100%; /* Image takes full width of the card */
  height: 300px; /* Fixed height for consistency */
  object-fit: contain; /* Ensure images cover the area well without distortion */
}

.productImage:hover {
  cursor: pointer;
}

/* Base style MOBILE FIRST */
.card {
  height: 100%;
  width: calc(50% - 10px);
}

/* Tablet */
@media (min-width: $mantine-breakpoint-sm) {
  .card {
    width: calc(30% - 20px);
  }
}

/* Desktop */
@media (min-width: $mantine-breakpoint-md) {
  .card {
    width: calc(25% - 20px);
  }
}

/* Huge desktop */
@media (min-width: $mantine-breakpoint-lg) {
  .card {
    min-width: calc(20% - 20px);
  }
}
