.prouctName {
  word-wrap: break-word;
}

.productName:hover {
  color: var(--mantine-primary-color-filled);
  cursor: pointer;
}

.productImage {
  height: 80px; /* Fixed height for consistency */
  width: 80px;
  object-fit: contain; /* Ensure images cover the area well without distortion */
}

.productImage:hover {
  cursor: pointer;
}
